.card{
    border-radius: 5px;
    background-color: rgb(219, 196, 255);
}
.card-info{
    padding: 25px;
}
.card img{
    width: 300px;
    height: 300px;
}
.btn{
    width: 100%;
    background-color: rgb(202, 90, 70);
    color: black;
    padding: 15px;
    border-radius: 0 0 5px 5px;
    font-weight: 700;
    font-size: 17px;
    border: none;
}
.btn:hover{
    background-color: tomato;
    color: white;

}